.Home{
    align-items: center;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
}
.TitleWrapper,
.FormWrapper{
    width: 50%;
}
.TitleWrapper{
    text-align: center;
}

.FormHome{
    margin: 0 auto;
    max-width: 400px;
}